nav {
    width: 100%;
    height: 64px;
    background: #000000;
    color: #ffffff;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    .brand{
        font-weight: 800;
        font-size: 20px;
        color: #e85002;
        transition: opacity 0.3s ease;

        span{
            color: #ffffff;
        }

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }

        &.visible {
            opacity: 1;
        }
    }

    .menu{

       li{
        display: inline-block;
        list-style: none;
        margin: 5px 20px;
        font-size: 16px;
        
        a{
            color: #ffffff;
            transition: color 0.1s ease;

            &:hover{
                color: #e85002;
            }
        }

       }
    }

    .menu-icon{
        display: none;
    }

}



@media (max-width: 840px) {
  nav {
    padding: 15px 0;

    ul {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      background: #e85002;
      z-index: -1;
      width: 200px;
      padding-top: 70px;
      transition: 0.5s;

      display: flex;            /* <-- wichtig für flex-direction */
      flex-direction: column;   /* Punkte untereinander */
      align-items: flex-start;

      li {
        display: block;
        margin: 25px 40px;

        a {
          color: #ffffff;
          transition: color 0.1s ease;

          &:hover {
            color: #333333 !important;     /* Hover-Farbe */
          }
        }
      }
    }

    .menu-icon {
      display: block;
      width: 30px;
      cursor: pointer;
    }

    .hide-mobile-menu {
      right: -200px;
    }
  }
}